@import "compass/css3/border-radius";
@import "compass/css3/transform";

.content-wrap{
	position: relative;
}

header.principal{
	height: 50em;
	background-image: url('../img/header/home-bg.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 2;

	.mask{
		background-image: url('../img/header/home-bg-cafe-2.png');
		background-size: auto 100%;
		background-repeat: repeat-x;
		background-position: center;
		width: 100%;
		position: absolute;
		bottom: -1px;
		z-index: 2;
		height: 305px;
	}
	.logo{
		padding-top: 6em;
		img{
			margin: 0 auto;
		}
	}
}


.blog-index{
	margin-top: 30em;
	z-index: 3;
}


.post{
	margin-bottom: 6em;
	.thumb-post{
			width: 300px;
			height: 300px;
			display: block;
			margin: 0 auto;
			border: 3px solid $body-bg;
			@include border-radius(150px);
			@include transition-property(border);
			@include transition-duration(0.2s);
			.thumb{
				background-repeat: no-repeat;
				background-position: center;
				background-size: cover;
				display: block;
				width: 100%;
				height: 100%;
			}
			&:hover{
				border: 6px solid $brand-success;
			}
	}
}



.single{
	header.principal{
		top: -470px;
		z-index: 0;
	}
}
.single{
	.initText{
		clear: both;
		border-bottom: 3px solid $brand-success;
		width: 31%;
		margin-bottom: 4em;
	}

	.blog-single{
		padding-top: 0;
		/* Small devices (tablets, 768px and up) */
		 @media (min-width: $screen-sm-min) {
				padding-top: 4em;
		 }
	}
	.blog-post-title{
		font-size: 4em;
		margin-bottom: 1em;
	}
	.thumbnail-area{
		background: $gray-darker;
    height: 24em;
    border-bottom: 5px solid $brand-success;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
    z-index: 3;
	}

	.post{
		background: lighten($body-bg,10%);
    padding: 3em 3em;
		padding-bottom: 1.5em;
		z-index: 2;
		line-height: 1.8em;
		margin-bottom: 0;
		.categoria{
			// float: left;
			width: 100%;
			text-align: left;
			font-weight: 100;
			padding-top: 0.8em;
			text-transform: uppercase;
			/* Small devices (tablets, 768px and up) */
			 @media (min-width: $screen-sm-min) {
				 text-align: right;
				 float: left;
	 			 width: 30%;
			 }
			 #grao{
		 		width: 30px;
		 		fill: $brand-success;
		 		margin-right: 0.3em;
		 		float: left;
				/* Small devices (tablets, 768px and up) */
				 @media (min-width: $screen-sm-min) {
					 float: right;
					 margin-left: 0.3em;
				 }
		 	}
		}
		.author{
			height: 5em;
			float: left;
			width: 100%;
			/* Small devices (tablets, 768px and up) */
			 @media (min-width: $screen-sm-min) {
				 width: 70%;
				 height: 7em;
			 }
			.avatar{
				width: 50px;
				height: 50px;
				@include border-radius(25px);
				background-color: $gray-base;
				background-repeat: no-repeat;
				background-size: cover;
				background-position: center;
				float: left;
			}
			p{
				padding-top: 0.8em;
				padding-left: 4em;
				color: $gray-light;
				font-weight: lighter;
				font-style: italic;
				a{
					color: $gray-light;
				}
			}
		}
		footer{
			border-top: 1px solid $body-bg;
			padding-top: 1.5em;
			margin-top: 2em;
			color: $gray-light;
			font-style: italic;
			font-weight: lighter;
			text-align: right;
		}

	}
	.share{
		padding: 0;
		margin-bottom: 6em;
		.face,.twitter,.link{
			padding-top: 1em;
			padding-bottom: 1em;
			display: inline-block;
			float: left;
			width: 33.33333333333%;
			cursor: pointer;
			min-height: 4.2em;
			position: relative;
			@include transition-property(background-color);
			@include transition-duration(0.2s);
			svg{
				width: 30px;
				fill: $body-bg;
				position: absolute;
		    left: 50%;
		    top: 1em;
		    margin-left: -15px;
				@include transition-property(width,top,margin-left);
				@include transition-duration(0.2s);
			}
			&:hover{
				svg{
					width: 25px;
			    top: 1.3em;
			    margin-left: -10px;
				}
			}
		}
		.face{
				background-color: #223EB2;
				&:hover{
					background-color: darken(#223EB2,10%);
				}
		}
		.twitter{
			background-color: #2AAFDD;
			&:hover{
				background-color: darken(#2AAFDD,10%);
			}
		}
		.link{
			background-color: $brand-warning;
			&:hover{
				background-color: darken($brand-warning,10%);
			}
		}
	}
}

.search,.archive{
	header.principal{
		top: -360px;
		z-index: 0;
	}
	.page-title{
		padding-top: 50px;
    padding-bottom: 70px;
    color: $body-bg;
		text-align: center;
		span{
			margin-right: 20px;
		}
		svg{
			fill: white;
	    width: 29px;
		}
	}
}

.search-notfound{
	header.principal{
		top: 0;
		z-index: 0;
	}
	.page-title{
		padding-top: 50px;
    padding-bottom: 70px;
    color: $body-bg;
		text-align: center;
		span{
			margin-right: 20px;
		}

		.form-group{
			position: relative;
			h1.glyphicon{
				width: 50px;
				position: absolute;
				top: 0;
				left: 0;
			}
			input{
				text-indent: 70px;
				font-size: 40px;
				height: 80px;
				color: $body-bg;
			}
		}
		svg{
			fill: white;
	    width: 29px;
		}
	}
	.content{
    padding-bottom: 580px;
	}
}
