/*
    comments templates
*/

// ui
.comments {
  .avatar .user, .avatar img{
        border-radius: 27px !important;
  }
  .nav-tabs {
    border-bottom: none;
  }
  .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
    background: white;
    border: none;
  }
  .nav-tabs > li > a:hover {
     border-color: white;
  }
  .nav-tabs > li {
    margin-bottom: -2px;
    @include transition-property(background-color);
    @include transition-duration(0.2s);
  }

  .page-header {
    position: relative;
    border-bottom: none;
   }
   .well{
     .btn{
       margin-bottom: 2px;
     }
   }
}

#login { display: none; }
.login,
.logout {
    position: absolute;
    top: 40px;
    right: 0;
    /* Small devices (tablets, 768px and up) */
     @media (min-width: $screen-sm-min) {
        top: -3px;
     }
}
.reviews {
    // color: #555;
    font-weight: bold;
    margin: 10px auto 20px;
}
.notes {
    // color: #999;
    font-size: 12px;
}
.media .media-object { max-width: 120px; }
.media-body { position: relative; }
.media-date {
    position: absolute;
    right: 25px;
    top: 25px;
}
.media-date li { padding: 0; }
.media-date li:first-child:before { content: ''; }
.media-date li:before {
    content: '.';
    margin-left: -2px;
    margin-right: 2px;
}
.media-comment { margin-bottom: 20px; }
.media-replied { margin: 0 0 20px 50px; }
.media-replied .media-heading { padding-left: 6px; }

.btn-circle {
    font-weight: bold;
    font-size: 12px;
    padding: 6px 15px;
}
.btn-circle span { padding-right: 6px; }
.embed-responsive { margin-bottom: 20px; }
.tab-content {
    padding: 50px 15px;
    border-top: none;
    background-color: white;

}
.custom-input-file {
    overflow: hidden;
    position: relative;
    width: 120px;
    height: 120px;
    background: #eee url('https://s3.amazonaws.com/uifaces/faces/twitter/walterstephanie/128.jpg');
    background-size: 120px;
}

.custom-input-file:hover .uploadPhoto { display: block; }
