@import "compass/css3/border-radius";
@import "compass/css3/transform";

// Menu principal

.container,
.content-wrap {
	overflow: hidden;
	height: 100%;
}

.content-wrap {
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}

.content {
	position: relative;
}

.content::before {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.3);
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.3s, -webkit-transform 0s 0.3s;
	transition: opacity 0.3s, transform 0s 0.3s;
	-webkit-transform: translate3d(100%,0,0);
	transform: translate3d(100%,0,0);
}

// inputs
.form-group{
	position: relative;
	label{
		display: inline-block;
		max-width: 100%;
		margin-bottom: 5px;
		font-weight: bold;
		position: absolute;
		top: 0.5em;
		text-transform: uppercase;
		left: 0.4em;
		@include transition-property(all);
		@include transition-duration(0.2s);
		&.active{
			font-size: 0.5em;
			top: 0;
		}
	}
}
.input-group{
	label{
		left: 3.2em;
		&.active{
			left: 6.2em;
		}
	}
}
.form-inline{
	button{
		height: 2.25em;
		float: left;
		width: 100%;
		/* Small devices (tablets, 768px and up) */
		 @media (min-width: $screen-sm-min) {
				width: auto;
				@include border-radius(0 $border-radius-base $border-radius-base 0);
		 }

	}
	.form-group{
		float: left;
	}
}

input.form-control{
	border: none;
	box-shadow: none;
	border-bottom: 3px solid $brand-success;
	padding-bottom: 0;
	position: relative;
	@include transition-property(border-bottom);
	@include transition-duration(0.5s);
	&:focus, &:active{
		outline: none;
		box-shadow: none;
		border-bottom: 3px solid $brand-warning;
	}
}

.input-group-addon{
	color: $body-bg;
	font-weight: bold;
	@include transition-property(background-color);
	@include transition-duration(0.5s);
	@include border-radius($border-radius-base 0 0 $border-radius-base);
	&.active{
		background-color: $brand-warning;
	}
}



// --Close Button */
.close-button {
	width: 25px;
	height: 25px;
	position: absolute;
	right: 1em;
	top: 1em;
	overflow: hidden;
	text-indent: 16px;
	border: none;
	z-index: 999999;
	background: $brand-success;
	color: transparent;
	cursor: pointer;
	@include border-radius( 2em );
	@include transition-property(top, transform);
	@include transition-duration(0.5s);
  padding: 7px;
	.line{
		width: 0;
		height: 1px;
		display: block;
		background-color: white;
		top: 50%;
		left: 50%;
		position: absolute;
		margin-left: -8px;
		&:before{
			content: '';
			width: 10px;
			height:1px;
			display: block;
			background-color: white;
			position: absolute;
			margin-top: 3px;
			@include transform(rotate(35deg));
		}
		&:after{
			content: '';
			width: 10px;
			height: 1px;
			display: block;
			background-color: white;
			top: 50%;
			position: absolute;
			margin-top: -3px;
			@include transform(rotate(-35deg));
		}
	}
}

// --menu inner
.menu-wrap {
	position: fixed;
	z-index: 1001;
	width: 300px;
	height: 100%;
	font-size: 1.15em;
	-webkit-transform: translate3d(-300px,0,0);
	transform: translate3d(-300px,0,0);
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}

.menu {
	width: calc(100% - 120px);

	height: 100%;
	padding: 2em 1em;
  background-color: $gray-base;
	.menu-content{
		font-size: 0.8em;
		position: absolute;
    top: 2em;
    left: 0;
    height: auto;
    z-index: 9999;
		width: 100%;
		@include transition-property(all);
		@include transition-duration(0.5s);
		a{
			display: block;
	    padding: 13px;
			width: 100%;
			@include transition-property(border-left);
			@include transition-duration(0.1s);
			text-decoration: none;
			border-left: 2px solid;
			text-transform: uppercase;
			&:hover{
				border-left: 5px solid $brand-success;
				color: $brand-success;
				background-color: darken($gray-base, 10%);
			}
		}
	}
}

// --Morph Shape */
.morph-shape {
	position: absolute;
	width: 120px;
	height: 100%;
	top: 0;
	right: 0;
	fill: $gray-base;
	z-index: 1000;
}

// --Shown menu */
.show-menu .menu-wrap {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.show-menu .content-wrap {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
	-webkit-transform: translate3d(260px,0,0);
	transform: translate3d(260px,0,0);
}

.show-menu .content::before {
	opacity: 1;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

// --menu Button */
.menu-button {
	position: fixed;
	z-index: 1000;
	margin: 1em;
	padding: 0;
	width: 50px;
	height: 50px;
	border: none;
	text-indent: 2.5em;
	font-size: 1.5em;
	color: transparent;
	background: $brand-success;
  cursor: pointer;
  @include border-radius(3em);
  .line{
    display: block;
    width: 20px;
    height: 1px;
    background-color: #F4F4F4;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -10px;
    @include border-radius(1em);
		@include transition-property(width);
		@include transition-duration(0.5s);

    &:before{
      content: '';
      display: block;
			width: 20px;
	    height: 1px;
      background-color: #F4F4F4;
      position: absolute;
      margin-top: -10px;
      -moz-border-radius: 1em;
      -webkit-border-radius: 1em;
      border-radius: 1em;

      @include transition-property(transform, margin-left, margin-top, width);
      @include transition-duration(0.5s);
    }
    &:after{
      content: '';
      display: block;
			width: 20px;
	    height: 1px;
      background-color: #F4F4F4;
      position: absolute;
      margin-top: 10px;
      -moz-border-radius: 1em;
      -webkit-border-radius: 1em;
      border-radius: 1em;
      @include transition-property(transform, margin-left, margin-top, width);
      @include transition-duration(0.5s);
    }
  }
  &:hover{
    .line{
			width: 0;
      &:before{
				width: 15px;
		    margin-left: 6px;
		    margin-top: -4px;
        -moz-border-radius: 1em;
        -webkit-border-radius: 1em;
        border-radius: 1em;
        @include transform(rotate(34deg));
      }
      &:after{
				width: 15px;
				margin-top: 5px;
				margin-left: 5px;
        -moz-border-radius: 1em;
        -webkit-border-radius: 1em;
        border-radius: 1em;
        @include transform(rotate(-34deg));
      }
    }
  }
}

.search-active{
	.close-button{
		top: 1.4em;
		transform: rotate(90deg);
	}
	.menu-search{
		top: 1em;
		border-left: 5px solid $brand-success;
		background-color: darken($gray-base, 10%);
		.txt{
			font-size: 0.5em;
	    top: 0.5em;
	    left: 5em;
		}
		.ui-input-text{
			position: absolute;
	    top: 21px;
			left: 37px;
		}
	}
	.menu-content{
		top: -13em;
		@include opacity(0);
	}
}

.menu-search{
		position: absolute;
    top: 17em;
    border-left: 2px solid $brand-success;
    left: 0;
    padding-left: 1em;
    height: 3em;
    padding-top: 0.9em;
		width: 100%;
		z-index: 99999;
		@include transition-property(all);
		@include transition-duration(0.5s);
		.glyphicon-search{
			color: $brand-success;
		}
		.txt{
			position: absolute;
			font-size: 0.8em;
			left: 3.5em;
			text-transform: uppercase;
			color: $brand-success;
			@include transition-property(all);
			@include transition-duration(0.5s);
		}
		input{
			background: transparent;
	    border: none;
			padding-left: 0.5em;
			color: white;
			@include transition-property(all);
			@include transition-duration(0.5s);
		}
		&:hover{
			border-left: 5px solid $brand-success;
			color: $brand-success;
			background-color: darken($gray-base, 10%);
		}
}

// End Menu princial


// Menu widget

// --Shown wiget */
.show-widget {
	.widget-wrap {
		-webkit-transform: translate3d(0,0,0);
		transform: translate3d(0,0,0);
		.all{
			.item{
				@include opacity(1);
			}
		}
	}
	.widget-button {
		@include opacity(0);
		right: -4em;
	}


}

// --Close Button */
.close-widget {
	width: 25px;
	height: 25px;
	position: absolute;
	left: 1em;
	top: 1em;
	overflow: hidden;
	text-indent: 16px;
	border: none;
	z-index: 999999;
	background: $brand-success;
	color: transparent;
	cursor: pointer;
  padding: 7px;
	@include border-radius(15px);
	.line{
		width: 0;
		height: 1px;
		display: block;
		background-color: white;
		top: 50%;
		left: 50%;
		position: absolute;
		margin-left: -8px;
		&:before{
			content: '';
	    width: 10px;
		 height: 1px;
		 display: block;
		 background-color: white;
		 margin-left: 6px;
		    margin-top: 3px;
			@include transform(rotate(-35deg));
		}
		&:after{
			content: '';
	    width: 10px;
			height: 1px;
			display: block;
			background-color: white;
			margin-top: -7px;
			margin-left: 5px;
			@include transform(rotate(35deg));
		}
	}
}


// --menu inner
.widget-wrap {
	position: fixed;
	right: 0;
	z-index: 1001;
	width: 300px;
	height: 100%;
	font-size: 1.15em;
	-webkit-transform: translate3d(300px,0,0);
	transform: translate3d(300px,0,0);
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
	// --Morph Shape */
	.morph-shape {
		position: absolute;
		width: 120px;
		height: 102%;
		top: 0;
		left: 0;
		fill: rgba(52,51,52,0.5);
		z-index: 1000;
	}
	.all{
		position: absolute;
		top: 2em;
		left: 2em;
		z-index: 1002;
		width: 15em;
		.item{
			padding: 1em;
			background-color: $body-bg;
			@include border-radius($border-radius-base);
			@include opacity(0);
			@include transition-property(opacity);
			@include transition-delay(0.2s);
			@include transition-duration(0.5s);
			header{
				border-bottom: 1px solid $gray-base;
				padding-bottom: 0.5em;
				margin-bottom: 0.5em;
			}
		}
	}
}

.widget {
	width: calc(100% - 120px);
	height: 100%;
	padding: 2em 1em;
  background-color: rgba(52,51,52,0.5);
	position: absolute;
	right: 0;
	top: 0;
	.widget-content{
		position: absolute;
    top: 2em;
    left: 0;
    height: auto;
    z-index: 9999;
		width: 100%;
		@include transition-property(width);
		@include transition-duration(0.5s);
		@include transition-delay(1s);
		a{
			text-align: right;
			display: block;
	    padding: 13px;
			width: 100%;
			@include transition-property(border-left);
			@include transition-duration(0.1s);
			text-decoration: none;
			border-right: 2px solid;
			text-transform: uppercase;
			&:hover{
				border-right: 5px solid $brand-success;
				color: $brand-success;
				background-color: darken($gray-base, 10%);
			}
		}
	}
}

// --menu Button */
.widget-hover{
	position: fixed;
	display: block;
	top: 0;
	right: 0;
	height: 100%;
	width: 100px;
	z-index: 999;
}

.widget-button {
	position: fixed;
	right: 0;
	z-index: 1000;
	margin: 1em;
	padding: 0;
	width: 50px;
	height: 50px;
	border: none;
	text-indent: 2.5em;
	font-size: 1.5em;
	color: transparent;
	background: $gray-base;
  cursor: pointer;
	@include opacity(1);
  @include border-radius(3em);
	@include transition-property(opacity, right);
	@include transition-duration(0.5s);
  .line{
    display: block;
    width: 20px;
    height: 1px;
    background-color: #F4F4F4;
    position: absolute;
    top: 50%;
    right: 14px;
    @include border-radius(1em);
		&:before{
      content: '';
      display: block;
      width: 15px;
      height: 1px;
      background-color: #F4F4F4;
      position: absolute;
      top: 50%;
      right: 0;
      margin-top: -11px;
      -moz-border-radius: 1em;
      -webkit-border-radius: 1em;
      border-radius: 1em;
      @include transition-property(transform);
      @include transition-duration(0.5s);
    }
    &:after{
      content: '';
			display: block;
	    width: 24px;
	    height: 1px;
	    background-color: #F4F4F4;
	    position: absolute;
	    top: 50%;
	    right: 0;
	    margin-right: 0;
	    margin-top: .4em;
      -moz-border-radius: 1em;
      -webkit-border-radius: 1em;
      border-radius: 1em;
      @include transition-property(transform);
      @include transition-duration(0.5s);
    }
  }

}



// END Menu widget


// Button styles

a{
	@include transition-property(color);
	@include transition-duration(0.2s);
	img{
		&.img-circle {
    	border: 3px solid $body-bg;
			@include transition-property(border);
			@include transition-duration(0.2s);
			&:hover{
				border: 10px solid $brand-primary;
			}
		}
	}
}

button:focus,button.active,.btn:focus,.btn:active {
   outline: none !important;
}
input:focus,input.active {
   outline: none !important;
}

.btn {
  border: none;
  display: inline-block;
	vertical-align: middle;
	position: relative;
	z-index: 1;
  padding-bottom: 3px;
  text-transform: uppercase;
	-webkit-backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
  -webkit-transition: background-color 0.3s, color 0.3s;
	transition: background-color 0.3s, color 0.3s;
  &.btn-primary{
    color: $body-bg;
    &:hover{
      color: $brand-primary;
    }
    &:before{
      content: '';
    	position: absolute;
    	top: 0;
    	left: 0;
    	width: 100%;
    	height: 100%;
    	border: 2px solid $btn-primary-border;
      border-top: none;
      border-bottom: none;
    	z-index: -1;
    	border-radius: inherit;
    	opacity: 0;
    	-webkit-transform: scale3d(0.6, 0.6, 1);
    	transform: scale3d(0.6, 0.6, 1);
    	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    	transition: transform 0.3s, opacity 0.3s;
    	-webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
    	transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
    }
  }
  &.btn-success{
    color: $body-bg;
    &:hover{
      color: $brand-success;
    }
    &:before{
      content: '';
      color: $brand-success;
    	position: absolute;
    	top: 0;
    	left: 0;
    	width: 100%;
    	height: 100%;
    	border: 2px solid $btn-success-border;
      border-top: none;
      border-bottom: none;
    	z-index: -1;
    	border-radius: inherit;
    	opacity: 0;
    	-webkit-transform: scale3d(0.6, 0.6, 1);
    	transform: scale3d(0.6, 0.6, 1);
    	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    	transition: transform 0.3s, opacity 0.3s;
    	-webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
    	transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
    }
  }
  &.btn-info{
    color: $body-bg;
    &:hover{
      color: $brand-info;
    }
    &:before{
      content: '';
      color: $brand-info;
    	position: absolute;
    	top: 0;
    	left: 0;
    	width: 100%;
    	height: 100%;
    	border: 2px solid $btn-info-border;
      border-top: none;
      border-bottom: none;
    	z-index: -1;
    	border-radius: inherit;
    	opacity: 0;
    	-webkit-transform: scale3d(0.6, 0.6, 1);
    	transform: scale3d(0.6, 0.6, 1);
    	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    	transition: transform 0.3s, opacity 0.3s;
    	-webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
    	transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
    }
  }
  &.btn-warning{
    color: $body-bg;
    &:hover{
      color: $brand-warning;
    }
    &:before{
      content: '';
      color: $brand-warning;
    	position: absolute;
    	top: 0;
    	left: 0;
    	width: 100%;
    	height: 100%;
    	border: 2px solid $btn-warning-border;
      border-top: none;
      border-bottom: none;
    	z-index: -1;
    	border-radius: inherit;
    	opacity: 0;
    	-webkit-transform: scale3d(0.6, 0.6, 1);
    	transform: scale3d(0.6, 0.6, 1);
    	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    	transition: transform 0.3s, opacity 0.3s;
    	-webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
    	transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
    }
  }
  &.btn-danger{
    color: $body-bg;
    &:hover{
      color: $brand-danger;
    }
    &:before{
      content: '';
      color: $brand-danger;
    	position: absolute;
    	top: 0;
    	left: 0;
    	width: 100%;
    	height: 100%;
    	border: 2px solid $btn-danger-border;
      border-top: none;
      border-bottom: none;
    	z-index: -1;
    	border-radius: inherit;
    	opacity: 0;
    	-webkit-transform: scale3d(0.6, 0.6, 1);
    	transform: scale3d(0.6, 0.6, 1);
    	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    	transition: transform 0.3s, opacity 0.3s;
    	-webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
    	transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
    }
  }
}
.btn:focus {
	outline: none;
}
.btn > span {
	vertical-align: middle;
}
.btn:hover{
  background: none;
  &:before {
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
	opacity: 1;
  }
}

.btn-lg{
    padding-bottom: 6px;
}
.btn-sm{
  padding-bottom: 4px;
}
.btn-xs{
  padding-bottom: 0;
}

// END button styles


// labe

.label{
	padding-bottom: 0.1em;
}

// END label

// table
table{
	@include border-radius($border-radius-base);
}

// END table

// To top
.totop{
	display: block;
	position: fixed;
	bottom: -40px;
	left: 50%;
	width: 40px;
	height: 40px;
	cursor: pointer;
	margin-left: -20px;
	background-color: $brand-warning;
	z-index: 999;
	@include border-radius($border-radius-base);
	@include transition-property(bottom);
	@include transition-duration(0.2s);
	.line{
		&:before{
			content: '';
			width: 50%;
			height: 1px;
			background-color: white;
			position: absolute;
			top: 50%;
			@include transform(rotate(52deg));
			@include border-radius(0.5em);
			left: 43%;
		}
		&:after{
			content: '';
			width: 50%;
			height: 1px;
			background-color: white;
			position: absolute;
			top: 50%;
			@include transform(rotate(-52deg));
			@include border-radius(0.5em);
			left: 12%;
		}
	}
	&:hover{
		bottom: -2px;
	}
	&.active{
		bottom: -5px;
	}
}

// END To top

// pagination
.pageNext{
	margin-bottom: 6em;
	nav{
		margin: 0 auto;
		ul.pager{
			li{
				margin-bottom: 0.2em;
				a{
					width: 10em !important;
					background-color: $brand-success;
					overflow: hidden;
					height: 2em;
					margin-bottom: 2px;
					&:hover{
						background-color: $body-bg;
						span.icon{
							top:50%;
						}
						span.text{
							top:100%;
						}
					}
					span.text{
						display: block;
						width: 100%;
						position: absolute;
						top: 17%;
						left: 0;
						@include transition-property(top);
						@include transition-duration(0.2s);
					}
					span.icon{
						display: block;
				    width: 1.5em;
				    height: 0.09em;
				    background-color: $brand-success;
				    position: absolute;
				    top: -50%;
						left: 50%;
				    margin-left: -1em;
				    margin-top: -.1em;
				    @include border-radius(1em);
						@include transition-property(top);
						@include transition-duration(0.2s);
						&.back{
							@include transform(rotate(180deg));
						}
						&:before{
				      content: '';
				      display: block;
				      width: 1em;
				      height: 0.1em;
				      background-color: $brand-success;
				      position: absolute;
				      top: 50%;
				      right: 0;
				      margin-left: -1em;
				      margin-top: -.4em;
				      -moz-border-radius: 1em;
				      -webkit-border-radius: 1em;
				      border-radius: 1em;
							@include transform(rotate(36deg));
				      @include transition-property(transform);
				      @include transition-duration(0.5s);
				    }
				    &:after{
				      content: '';
				      display: block;
				      width: 1em;
				      height: 0.1em;
				      background-color: $brand-success;
				      position: absolute;
				      top: 50%;
				      right: 0;
				      margin-left: -1em;
				      margin-top: .3em;
				      -moz-border-radius: 1em;
				      -webkit-border-radius: 1em;
				      border-radius: 1em;
							@include transform(rotate(-36deg));
				      @include transition-property(transform);
				      @include transition-duration(0.5s);
				    }
					}
				}
			}
		}
	}
}

// footer

footer.principal{
	background-color: $gray-base;
	color: $body-bg;
	padding-top: 5.3em;
	padding-bottom: 10em;
	position: relative;
	.form-center{
		position: relative;
		height: 5em;
		.form-inline{
				position: absolute;
				left: 50%;

				width: 298px;
				margin-left: -148.5px;
				/* Small devices (tablets, 768px and up) */
				 @media (min-width: $screen-sm-min) {
					 width: 321px;
	 				margin-left: -160.5px;
				 }
		}
	}
	.copyright{
		font-size: 0.6em;
		color: $gray-dark;
		padding-top: 45px;
		/* Small devices (tablets, 768px and up) */
		 @media (min-width: $screen-sm-min) {
			padding-top: 0;
		 }

	}

	// footer animation coffe
	#gota{
		width: 14px;
		enable-background: new 0 0 20 22.8;
		position: absolute;
		top: -2px;
		left: 50%;
		margin-left: -7px;
		@include transition-property(top);
		@include transition-duration(0.5s);
		/* Small devices (tablets, 768px and up) */
		 @media (min-width: $screen-sm-min) {
				top: 20px;
		 }
		&.active{
			top: 93px;
		}
	}

	.coffee{
		position: absolute;
		width: 100%;
		top: -0.4em;
		left: 0;
		svg{
			path{
				fill: $body-bg;
			}
		}
	}
}

// blockquote
blockquote{
	border: none;
	position: relative;
	&:before{
		content: '"';
    position: absolute;
    font-size: 3em;
    color: #8BAC64;
    font-family: Georgia, "Times New Roman", Times, serif;
    top: -12px;
    left: -6px;
    transform: rotate(10deg);
		line-height: 1.4em;
	}
}
