body {
  background: #f7f7f8; }

/* -------------------------------- 

MENU

-------------------------------- */
*, *::after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body, html {
  /* prevent horizontal scrolling */
  overflow-x: hidden; }

a {
  color: #9cb3a8;
  text-decoration: none; }

/* -------------------------------- 

Main Components 

-------------------------------- */
.cd-nav-trigger {
  position: fixed;
  z-index: 999;
  left: 5%;
  top: 20px;
  height: 70px;
  width: 70px;
  background-color: #80aa54;
  border-radius: 50%;
  /* image replacement */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  -webkit-transition: -webkit-transform 0.5s;
  -moz-transition: -moz-transform 0.5s;
  transition: transform 0.5s; }

.cd-nav-trigger .cd-nav-icon {
  /* icon created in CSS */
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  width: 22px;
  height: 2px;
  background-color: #ffffff; }

.cd-nav-trigger .cd-nav-icon::before, .cd-nav-trigger .cd-nav-icon:after {
  /* upper and lower lines of the menu icon */
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: inherit;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.5s, width 0.5s, top 0.3s;
  -moz-transition: -moz-transform 0.5s, width 0.5s, top 0.3s;
  transition: transform 0.5s, width 0.5s, top 0.3s; }

.cd-nav-trigger .cd-nav-icon::before {
  -webkit-transform-origin: right top;
  -moz-transform-origin: right top;
  -ms-transform-origin: right top;
  -o-transform-origin: right top;
  transform-origin: right top;
  -webkit-transform: translateY(-6px);
  -moz-transform: translateY(-6px);
  -ms-transform: translateY(-6px);
  -o-transform: translateY(-6px);
  transform: translateY(-6px); }

.cd-nav-trigger .cd-nav-icon::after {
  -webkit-transform-origin: right bottom;
  -moz-transform-origin: right bottom;
  -ms-transform-origin: right bottom;
  -o-transform-origin: right bottom;
  transform-origin: right bottom;
  -webkit-transform: translateY(6px);
  -moz-transform: translateY(6px);
  -ms-transform: translateY(6px);
  -o-transform: translateY(6px);
  transform: translateY(6px); }

.no-touch .cd-nav-trigger:hover .cd-nav-icon::after {
  top: 2px; }

.no-touch .cd-nav-trigger:hover .cd-nav-icon::before {
  top: -2px; }

.cd-nav-trigger svg {
  position: absolute;
  top: 0;
  left: 0; }

.cd-nav-trigger circle {
  /* circle border animation */
  -webkit-transition: stroke-dashoffset 0.4s 0s;
  -moz-transition: stroke-dashoffset 0.4s 0s;
  transition: stroke-dashoffset 0.4s 0s; }

.navigation-is-open .cd-nav-trigger {
  /* rotate trigger when navigation becomes visible */
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg); }

.navigation-is-open .cd-nav-trigger .cd-nav-icon::after,
.navigation-is-open .cd-nav-trigger .cd-nav-icon::before {
  /* animate arrow --> from hamburger to arrow */
  width: 50%;
  -webkit-transition: -webkit-transform 0.5s, width 0.5s;
  -moz-transition: -moz-transform 0.5s, width 0.5s;
  transition: transform 0.5s, width 0.5s; }

.navigation-is-open .cd-nav-trigger .cd-nav-icon::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg); }

.navigation-is-open .cd-nav-trigger .cd-nav-icon::after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg); }

.no-touch .navigation-is-open .cd-nav-trigger:hover .cd-nav-icon::after, .no-touch .navigation-is-open .cd-nav-trigger:hover .cd-nav-icon::before {
  top: 0; }

.navigation-is-open .cd-nav-trigger circle {
  stroke-dashoffset: 0;
  -webkit-transition: stroke-dashoffset 0.4s 0.3s;
  -moz-transition: stroke-dashoffset 0.4s 0.3s;
  transition: stroke-dashoffset 0.4s 0.3s; }

@media only screen and (min-width: 1170px) {
  .cd-nav-trigger {
    top: 40px; } }
.cd-nav {
  position: fixed;
  z-index: 9;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  visibility: hidden;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  -ms-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%); }

.cd-nav svg {
  position: fixed;
  top: 0;
  left: 0; }

.cd-nav svg path {
  fill: #50403a;
  opacity: 0.9;
  -webkit-opacity: 0.9;
  filter: alpha(opacity=90); }

.cd-nav .cd-navigation-wrapper {
  /* all navigation content */
  height: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  position: relative;
  z-index: 10; }

.navigation-is-open .cd-nav {
  visibility: visible;
  -ms-transform: translateX(0);
  -moz-transform: translateX(0);
  -webkit-transform: translateX(0);
  transform: translateX(0); }

.navigation-is-open .cd-nav .cd-navigation-wrapper {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: -webkit-transform 0.5s;
  -moz-transition: -moz-transform 0.5s;
  transition: transform 0.5s;
  -webkit-transition-timing-function: cubic-bezier(0.82, 0.01, 0.77, 0.78);
  -moz-transition-timing-function: cubic-bezier(0.82, 0.01, 0.77, 0.78);
  transition-timing-function: cubic-bezier(0.82, 0.01, 0.77, 0.78); }

.cd-nav h2 {
  position: relative;
  margin-bottom: 1.7em;
  font-size: 1.3rem;
  font-weight: 800;
  color: #080b0f;
  text-transform: uppercase; }

.cd-nav h2::after {
  /* bottom separation line */
  content: '';
  position: absolute;
  left: 0;
  bottom: -20px;
  height: 1px;
  width: 60px;
  background-color: currentColor; }

.cd-nav .cd-primary-nav {
  margin-top: 60px; }

.cd-nav .cd-primary-nav li {
  margin: 1.6em 0; }

.cd-nav .cd-primary-nav a {
  font-family: "Merriweather", serif;
  font-size: 2.4rem;
  color: rgba(255, 255, 255, 0.3);
  display: inline-block; }

.cd-nav .cd-primary-nav a.selected {
  color: #ffffff; }

.no-touch .cd-nav .cd-primary-nav a:hover {
  color: #ffffff; }

.cd-nav .cd-contact-info {
  margin-top: 80px; }

.cd-nav .cd-contact-info li {
  font-family: "Merriweather", serif;
  margin-bottom: 1.5em;
  line-height: 1.2;
  color: rgba(255, 255, 255, 0.3); }

.cd-nav .cd-contact-info a {
  color: #ffffff; }

.cd-nav .cd-contact-info span {
  display: block; }

.cd-nav .cd-contact-info li, .cd-nav .cd-contact-info a, .cd-nav .cd-contact-info span {
  font-size: 1.6rem; }

@media only screen and (min-width: 1170px) {
  .cd-nav .cd-navigation-wrapper {
    padding: 62px 20%; }

  .cd-nav .cd-navigation-wrapper::after {
    clear: both;
    content: "";
    display: table; }

  .cd-nav .cd-half-block {
    width: 50%;
    float: left; }

  .cd-nav .cd-primary-nav {
    margin-top: 0; }

  .cd-nav h2 {
    font-size: 1.5rem;
    margin-bottom: 5.6em; }

  .cd-nav .cd-primary-nav li {
    margin: 2em 0; }

  .cd-nav .cd-primary-nav a {
    font-size: 4.4rem; }

  .cd-nav .cd-contact-info {
    margin-top: 120px;
    text-align: right; }

  .cd-nav .cd-contact-info li {
    margin-bottom: 2.4em; }

  .cd-nav .cd-contact-info li, .cd-nav .cd-contact-info a, .cd-nav .cd-contact-info span {
    font-size: 2rem; } }
.no-js .home {
  height: auto;
  overflow: visible; }

.no-js .cd-nav {
  position: static;
  visibility: visible; }

.no-js .cd-nav .cd-navigation-wrapper {
  height: auto;
  overflow: visible;
  padding: 100px 5%;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0); }

.home.container-all {
  width: 100%;
  background: url("images/bg.gif");
  background-repeat: no-repeat;
  background-position: center top; }
  .home.container-all header.banner {
    width: 100%;
    height: 555px;
    padding-top: 3em;
    /*nav{
    	display: block;
    	position: fixed;
    	width: 98px;
    	height: 98px;
    	background-color: green;
    	left: 26px;
    	bottom: 30%;
    }*/ }
    .home.container-all header.banner .logo {
      width: 27.7777778%;
      margin: 0 auto;
      background: url("images/logo.png") center center no-repeat;
      background-size: 100% auto;
      height: 220px;
      text-indent: -9999999px; }
  .home.container-all .container header {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 50px; }
  .home.container-all .container .block {
    margin-bottom: 60px; }
  .home.container-all .container .quemsomos header {
    color: #50403a; }
  .home.container-all .container .oquefazemos header {
    color: #c93d42; }
  .home.container-all .container .oquefazemos .liquido-cafe {
    position: absolute;
    width: 280px;
    left: 50%;
    margin-left: -140px;
    z-index: 0;
    display: block;
    background-color: #50403a;
    -webkit-transition: width 2s;
    /* Safari */
    transition: all 1s; }
  .home.container-all .container .oquefazemos .target {
    position: fixed;
    left: 0;
    border-top: 1px solid #50403a;
    width: 100px;
    top: 50%; }
  .home.container-all .container .oquefazemos .col-sm-12 {
    text-align: center; }
    .home.container-all .container .oquefazemos .col-sm-12 img {
      z-index: 1;
      position: relative; }
    .home.container-all .container .oquefazemos .col-sm-12 .frente {
      width: 280px;
      background-color: #cfcfcf;
      margin: 0 auto; }
    .home.container-all .container .oquefazemos .col-sm-12.cafe {
      background-color: #f7f7f8;
      width: 100%;
      z-index: 1; }
    .home.container-all .container .oquefazemos .col-sm-12.gota {
      background-color: #f7f7f8;
      z-index: 1; }
      .home.container-all .container .oquefazemos .col-sm-12.gota img {
        position: relative;
        top: -18px;
        z-index: 2;
        transition: all 2s;
        opacity: 0;
        filter: alpha(opacity=0); }
        .home.container-all .container .oquefazemos .col-sm-12.gota img.animate {
          top: 29px;
          opacity: 1;
          filter: alpha(opacity=100); }
  .home.container-all .container .oquefazemos .col-sm-6 {
    padding: 0; }
    .home.container-all .container .oquefazemos .col-sm-6 h6 {
      text-transform: uppercase;
      font: 1.4em !important; }
    .home.container-all .container .oquefazemos .col-sm-6 p {
      line-height: 18px; }
    .home.container-all .container .oquefazemos .col-sm-6 .icon-service img {
      z-index: 2;
      position: relative; }
  .home.container-all .container .oquefazemos .col-sm-6:nth-child(odd) {
    text-align: right; }
    .home.container-all .container .oquefazemos .col-sm-6:nth-child(odd) .icon-service {
      float: right;
      background-color: #cfcfcf;
      width: 140px;
      height: 140px; }
  .home.container-all .container .oquefazemos .col-sm-6:nth-child(even) {
    text-align: left; }
    .home.container-all .container .oquefazemos .col-sm-6:nth-child(even) .icon-service {
      float: left;
      background-color: #cfcfcf;
      width: 140px;
      height: 140px; }
  .home.container-all .container .portfolio header {
    color: #80aa54; }
  .home.container-all .container .portfolio .col-sm-4 {
    background-color: #50403a; }
  .home.container-all footer {
    padding-top: 50px;
    padding-bottom: 50px;
    background: url("images/footer-bg.jpg");
    color: #f7f7f8; }
    .home.container-all footer header {
      text-align: center;
      text-transform: uppercase;
      margin-bottom: 50px; }
    .home.container-all footer header {
      color: #dbb741; }
    .home.container-all footer textarea.form-control {
      border: #f7f7f8 2px solid; }
      .home.container-all footer textarea.form-control:focus {
        border: #80aa54 2px solid; }
    .home.container-all footer .form-group .form-control {
      text-align: center;
      border-bottom: #f7f7f8 2px solid; }
      .home.container-all footer .form-group .form-control:focus {
        border-bottom: #80aa54 2px solid; }
    .home.container-all footer .form-group .enviar {
      margin-top: 15px;
      text-align: center; }
      .home.container-all footer .form-group .enviar .btn {
        text-transform: uppercase;
        margin: 0 auto;
        -webkit-transition: all 1s;
        /* Safari */
        transition: all 1s; }
        .home.container-all footer .form-group .enviar .btn:hover {
          background-color: #80aa54; }

/* === JAVA TESTES == */
.javatests {
  position: fixed;
  top: 0;
  left: 0; }

/* === END JAVA TESTES == */
.controls {
  padding: 2%; }

label {
  font-weight: 300;
  margin: 0 .4em 0 0; }

button {
  display: inline-block;
  padding: .4em .8em;
  border: 0;
  color: #ddd;
  font-size: 16px;
  font-weight: 300;
  border-radius: 4px;
  cursor: pointer; }
  button.active {
    background: #dbb741; }
  button:focus {
    outline: 0 none; }

button + label {
  margin-left: 1em; }

.container-port {
  text-align: justify;
  font-size: 0.1px;
  -webkit-backface-visibility: hidden; }
  .container-port:after {
    content: '';
    display: inline-block;
    width: 100%; }
  .container-port .mix, .container-port gap {
    display: inline-block;
    width: 49%; }
  .container-port .mix {
    text-align: left;
    background: #03899c;
    display: none; }
    .container-port .mix.category-1 {
      border-top: 2px solid limegreen; }
    .container-port .mix.category-2 {
      border-top: 2px solid yellow; }
    .container-port .mix:after {
      content: attr(data-myorder);
      color: white;
      font-size: 16px;
      display: inline-block;
      vertical-align: top;
      padding: 4% 6%;
      font-weight: 700; }
    .container-port .mix:before {
      content: '';
      display: inline-block;
      padding-top: 60%; }

@media all and (min-width: 420px) {
  .container-port .mix,
  .container-port .gap {
    width: 35%; } }
@media all and (min-width: 640px) {
  .container-port .mix,
  .container-port .gap {
    width: 25%; } }

/*# sourceMappingURL=style.css.map */
